@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

:root{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);

    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --ark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

@media screen and (min-width: 768px){
    .menu1{
        display: none;
    }
}

@media screen and (max-width: 768px){

    .menu{
        display: none;
    }

    .menu1{
        border-radius: 5px;
        padding: 5px;
        cursor: pointer;
    }

    
    .menu1:hover{
        background-color: rgba(255, 255, 255, 0.274);
    }

    .popup{
        position: fixed;
        top: 0;
        bottom: 200px;
        left: 250px;
        right: 0;
        margin: auto;
        margin-right: 48px;
        width: 190px;
        height: 220px;
        padding: 15px;
        background-color: white;
        box-shadow: 0px 0px 9px var(--ark-grayish-blue);
        display: none;
        text-align: center;
        padding-left: 10px;
        padding-bottom: 35px;
    }
    
    .popup-list{
        color: var(--Very-dark-grayish-blue);
        list-style-type: none;
        text-decoration: none;
        font-family: 'Barlow', sans-serif;
        margin: 10px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        position: relative;
        right: 19px;
        cursor: pointer;
        
    }

    .popup-list:hover{
        background-color: var(--Yellow);
        color: var(--Very-dark-desaturated-blue);
        border-radius: 30px;
    }

    h1{
        font-size: 50px;
        margin: 10px;

    }

    .titulo > img{
        width: 20px;
        bottom: -30px;
    }

    .bloco{
        display: contents;
    }

    #primeiro-bloco{
        display: flex;
        flex-direction: column-reverse;
    }

    .bloco > img{
        width: 100%;
    }

    .bloco-texto{
        margin: auto;
    }

    .bloco-titulo{
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
        padding: 0px 15px 0px 15px;
        width: 80vw;
    }

    .bloco3{
        display: contents;
    }

    .bloco3 > div{
        height: 100vh;
        width: 100%;
    }

    .bloco3 > div > h3{
        font-family: 'Fraunces', serif;
        margin-top: 0px;
        padding-top: 400px;
    }

    .bloco3 > div > p{
        font-family: 'Barlow', sans-serif;
        width: 80vw;
        margin: auto;
    }


    .clientes{
        display: contents;
        margin-left: 50px;
        margin-right: 50px;
    }

    .clientes > div{
        margin-bottom: -50px;
        
    }

    .clientes > div > p{
        width: 50%;
        margin: auto;
        margin-top: 45px;
    }

    .fotos{
        margin-top: 40px;
        flex-wrap: wrap;
    }

    .fotos > img{
       justify-content: safe;
       width: 50%;
       height: 40vw;
    }

    .learnMore, .learnMore1{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}


@media screen and (max-width: 500px){
    header{
    background-image: url(images/mobile/image-header.jpg);
    }

    h1{
        font-size: 40px;
        margin: 10px;
    }

    .bloco-titulo{
        text-align: center;
        width: 80vw;
    }

    .popup{
        width: 70vw;
        text-align: center;
        margin-right: 40px;
    }
}